form > * {
   display: block;
}

form input {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

form input:focus {
    color: violet;
}

form textarea {
    border-radius: 10px;
    margin-bottom: 5px;
}